/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --qwik-dark-blue: #006ce9;
    --qwik-light-blue: #18b6f6;
    --qwik-light-purple: #ac7ff4;
    --qwik-dark-purple: #713fc2;
    --qwik-dirty-black: #1d2033;
    --qwik-dark-background: #151934;
    --qwik-dark-text: #ffffff;
  }
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
